.footer-contato ul{
  margin-top: 20px;
  margin-bottom: 10px;

}

.footer-contato li{
  font-size: 1.4rem;
  line-height: 1.5;
  position: relative;
}

.footer-contato li:hover{
  color: #4895EF;
}

.footer-contato .telefone::before{
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background: url(../../../icons/chamada-telefonica.png);
  position: absolute;
  top: 5px;
  left: -40px;
}

.footer-contato .instagram::before{
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background: url(../../../icons/instagram\ \(1\).png);
  position: absolute;
  top: 5px;
  left: -40px;
}


.footer-contato .contato::before{
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background: url(../../../icons/envelope-texto-aberto.png);
  position: absolute;
  top: 5px;
  left: -40px;
}

.footer-contato .localizacao::before{
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background: url(../../../icons/marcador.png);
  position: absolute;
  top: 5px;
  left: -40px;
}

.footer-contato p{
  text-transform: uppercase;
  line-height: 1.5;
  position: relative;
}

.creditos{
  font-size: 0.8rem;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

@media (max-width:920px){
  .creditos{
    padding-bottom: 60px;
  }
}

@media (max-width:580px){
  .footer-contato .telefone::before{
    position: initial;
  }

  .footer-contato .instagram::before{
    position: initial;
  }

  .footer-contato .contato::before{
    position: initial;
  }

  .footer-contato .localizacao::before{
    position: initial;
  }
}