.beneficios-bg{
  background-color: var(--cor-0);
}

.beneficios{
  position: relative;
}

.beneficios::before{
    content: "";
    display: inline-block;
    height: 400px;
    width: 4px;
    background-color: var(--cor-1);
    position: absolute;
    top: -100px;
}

.beneficios h1{
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  padding-top: 100px;
  color: #023E8A;
  text-shadow: 1px 1px 1px rgb(165, 163, 163);
  padding-bottom: 110px;
}

.beneficios-lista{
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 90px;
}

.beneficios-lista img{
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
  width: 55px;
}

.beneficios-lista p {
  font-size: 1.1rem;
  text-align: center;
}

@media (max-width:800px){
  .beneficios::before{
    left: 8px;
    top: -60px;
}

  .beneficios h1{
    padding-top: 50px;
  }
}

@media (max-width:500px){
  .beneficios h1{
    padding-top: 30px;
    padding-bottom: 50px;
  }
}

